body {
  font-family: Helvetica, Arial, Sans-Serif !important;
  font-size: 13px !important;
  color: #fff !important;
}

#header,
nav {
  height: 40px;
  line-height: 40px;
}

#header a,
#main-content a {
  text-decoration: none;
  color: #fff;
}

#header a.active {
  color: #f7941d;
}

#main-content .row {
  height: calc(100vh - 40px);
}

table {
  color: #fff !important;
}

iframe {
  width: 100%;
  height: 100%;
}

#main-content .chart {
  height: 55%;
  margin: 1px;
  background-color: #2f3240;
}

#main-content .jq-chart {
  height: 45%;
  margin: 1px;
  background-color: #2f3240;
}

#main-content .history {
  height: 55%;
  margin: 1px;
  background-color: #2f3240;
}

#main-content .watchlist {
  height: 45%;
  margin: 1px;
  background-color: #2f3240;
}

#main-content .orderbook {
  height: 60%;
  margin: 1px;
  background-color: #2f3240;
}

#main-content .placeorder {
  height: 40%;
  margin: 1px;
  background-color: #2f3240;
}
